.user-dashboard {
    width: 60%;
}

.table-cell-username {
    width: 40%;
    padding-left: 15px;
    text-align: left;
}

.table-cell-roles {
    width: 20%;
}

.user-button-container {
    width: 40%;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;;
    border: none;
}