<div class="form-container"  *ngIf="form; else loading">
    <div class="window-title-wrap">
        <h3 class="window-title">Edit Certificate</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="openDialog()">
        <div class="group-container">
            <div class="form-group">
                <label class="label" for="name">Name</label>
                <input class="input-item" type="text" formControlName="name" id="name">
                <div *ngIf="form.get('name').touched && form.get('name').invalid">
                    <small class="error" *ngIf="form.get('name').errors.required">Enter name</small>
                </div>
            </div>

            <div class="form-group">
                <label class="label" for="description">Description</label>
                <textarea class="form-textarea" formControlName="description" id="description"></textarea>
                <div *ngIf="form.get('description').touched && form.get('description').invalid">
                    <small class="error" *ngIf="form.get('description').errors.required">Enter description</small>
                </div>
            </div>

            <div class="form-group">
                <label class="label" for="price">Price (0-5000)</label>
                <input class="input-item" type="number" formControlName="price" id="price" min="0" max="5000">
                <div *ngIf="form.get('price').touched && form.get('price').invalid">
                    <small class="error" *ngIf="form.get('price').errors.required">Enter price</small>
                    <small class="error" *ngIf="form.get('price').errors.min">Price must be at least 0.</small>
                    <small class="error" *ngIf="form.get('price').errors.max">Price must be no more 5000 .</small>
                </div>
            </div>

            <div class="form-group">
                <label class="label" for="duration">Duration (month)</label>
                <select class="input-item form-select" formControlName="duration" id="duration">
                    <option class="form-select" value="ONE_MONTH">One</option>
                    <option class="form-select" value="THREE_MONTH">Three</option>
                    <option class="form-select" value="SIX_MONTH">Six</option>
                </select>
                <div *ngIf="form.get('duration').touched && form.get('duration').invalid">
                    <small class="error" *ngIf="form.get('duration').errors.required">Choose duration</small>
                </div>
            </div>

            <div class="form-group">
                <div class="label default-date">Date creation</div>
                <div class="input-item default-context-date"> {{certificate.dateCreation}} </div>
            </div>
            <div class="form-group">
                <div class="label default-date">Date modification</div>
                <div class="input-item default-context-date"> {{certificate.dateModification}} </div>
            </div>

            <div class="btn-container">
                <button class="btn back" type="reset">Reset</button>
                <button class="btn save" type="submit" [disabled]="form.invalid || submitted">Edit</button>
            </div>
        </div>
    </form>
</div>
<ng-template #loading>
    <p class="loading">Loading...</p>
</ng-template>
