<div class="form-container">
    <div class="window-title-wrap">
        <h3 class="window-title">Add Certificate</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="openDialog()">
        <div class="group-container">
            <div class="form-group">
                <label class="label" for="name">Name</label>
                <input class="input-item" type="text" formControlName="name" id="name">
                <div *ngIf="form.get('name').touched && form.get('name').invalid">
                    <small class="error" *ngIf="form.get('name').errors.required">Enter name</small>
                </div>
            </div>

            <div class="form-group">
                <label class="label" for="description">Description</label>
                <textarea class="form-textarea" formControlName="description" id="description"></textarea>
                <div *ngIf="form.get('description').touched && form.get('description').invalid">
                    <small class="error" *ngIf="form.get('description').errors.required">Enter description</small>
                </div>
            </div>

            <div class="form-group">
                <label class="label" for="price">Price (0-5000)</label>
                <input class="input-item" type="number" formControlName="price" id="price" min="0" max="5000">
                <div *ngIf="form.get('price').touched && form.get('price').invalid">
                    <small class="error" *ngIf="form.get('price').errors.required">Enter price</small>
                    <small class="error" *ngIf="form.get('price').errors.min">Price must be at least 0.</small>
                    <small class="error" *ngIf="form.get('price').errors.max">Price must be no more 5000 .</small>
                </div>
            </div>

            <div class="form-group">
                <label class="label" for="duration">Duration (month)</label>
                <select class="input-item form-select" formControlName="duration" id="duration">
                    <option value="ONE_MONTH">One</option>
                    <option value="THREE_MONTH">Three</option>
                    <option value="SIX_MONTH">Six</option>
                </select>
                <div *ngIf="form.get('duration').touched && form.get('duration').invalid">
                    <small class="error" *ngIf="form.get('duration').errors.required">Choose duration</small>
                </div>
            </div>

            <div class="form-group">
                <label class="label" for="upload-btn">Select Image</label>
                <div class="input-item custom-item-upload-image">
                    <span class="upload-text" id="upload-text">Click on the icon to download the image</span>
                    <input class="upload-btn" type="file" name="image" accept="image/*" id="upload-btn" hidden>
                    <img class="icon-upload" src="/assets/img/certificate/upload-image.png" alt="icon-upload" id="icon-upload">
                </div>
            </div>

            <div class="btn-container">
                <button class="btn back" type="reset">Reset</button>
                <button class="btn save" type="submit" [disabled]="form.invalid || submitted">Add</button>
            </div>
        </div>
    </form>
</div>
